
@font-face {font-family: "iconfont";
  src: url('fontsiconfont.eot?t=1461322637'); /* IE9*/
  src: url('fontsiconfont.eot?t=1461322637#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fontsiconfont.woff?t=1461322637') format('woff'), /* chrome, firefox */
  url('fontsiconfont.ttf?t=1461322637') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fontsiconfont.svg?t=1461322637#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-daohangshouye:before { content: "\e600"; }
.icon-daohanggouwuche:before { content: "\e601"; }
.icon-daohanggerenzhongxin:before { content: "\e602"; }
.icon-shouyemaichang:before { content: "\e603"; }
.icon-shijian:before { content: "\e604"; }
